@import './common/fonts';
@import './common/reset';
@import './common/text';
@import './common/transitions';
@import './common/toast';

.page {
    padding-top: $header-h;
}

.container {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
}

.lazy-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease 0.1s;

    &[lazy='loaded'] {
        opacity: 1;
    }
}

/* stylelint-disable*/

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(79, 104, 145, 0.3);
}

::-webkit-scrollbar-thumb {
    background: #152233;
}
/* stylelint-enable*/

::placeholder {
    color: #666;
}

::selection {
    background-color: $accent;
    color: #fff;
}

html {
    font-size: calc(6px + .27778vw);
}

@media screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }
}

body {
    font-family: $gilroy;
    font-size: $fontsize;
    min-width: 320px;
    position: relative;
    line-height: 1.3;
    overflow-x: hidden;
    color: $white;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background: $dark;
}

input,
textarea {
    outline: none;

    &:focus:required:invalid {
        border-color: red;
    }

    &:required:valid {
        border-color: green;
    }
}

a {
    text-decoration: none;
    color: currentColor;

    &:active {
        outline: none;
    }
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.labelName {
    margin-bottom: 2.4rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
    opacity: .6;
}

.containerWSide {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: $contentMarginBottom;
}

.lSide {
    width: calc(70% - 3.2rem);
}

.rSide {
    position: absolute;
    height: calc(100% - #{$contentMarginBottom});
    width: calc(30% - 3.2rem);
    right: 0;
}
