@import "_font.scss";

$accent: #ff2e00;
$fontsize: 1.6rem;
$white: #fff;
$grey: rgba(#fff, .4);
$dark: #111925;
$lightdark: #151d29;
$system: -apple-system, blinkmacsystemfont, arial, sans-serif;
$gilroy: 'Gilroy', -apple-system, blinkmacsystemfont, arial, sans-serif;
$transition: 0.3s;
