body {
    .Vue-Toastification__container {
        width: 50rem;
    }

    .Vue-Toastification__toast--default {
        background: $dark-notif;
        border-radius: 30px;
    }

    .Vue-Toastification__toast-body {
        margin-right: 2rem;
    }
}
