body {
    .Vue-Toastification__container {
        width: 50rem;
    }

    .Vue-Toastification__toast {
        border-radius: 30px;
        max-width: 620px;
    }

    .Vue-Toastification__toast--default {
        background: $dark-notif;
    }

    .Vue-Toastification__toast-body {
        margin-right: 2rem;
    }
}
